@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}
body{
  background-color: rgb(255, 255, 229);
  user-select: none;
}

.decoration-line{
  text-decoration: line-through 3px solid #fff;
}