@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
body {
  background-color: rgb(255, 255, 229);
  user-select: none;
}

article > h2 {
  font-family: Verdana, Geneva, Tahoma;
}

.bg-nav {
  background-color: rgb(255, 255, 229);
}

.decoration-line {
  text-decoration: line-through 3px solid #fff;
}

.textshadow {
  text-shadow: 0 5px 15px #000000;
}

@media (min-width: 768px) {
  .height-80 {
    height: 84vh;
  }
}
